<div class="container">
  <br/>
  <h2 class="text-center text-info">{{title}}</h2>
  <br/>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <input placeholder="Search the Item" class="form-control" type="text" [(ngModel)]="search"/>
    </div>
  </div>
  <hr/>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">IMAGE</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">QUANTITY</th>
      </tr>
    </thead>
     
    <tbody>
      <tr *ngFor= "let product of products | pricefilter:search" >
        <td><img [src]='product.productIMGF'      [style.width.px]='imgWidth'  [style.margin.px]= 'imgMargin' (mouseover)="change($event,product.productIMGB)"   (mouseout)="change($event,product.productIMGF)"></td>
        <td>{{product.productName}}</td>
        <td>{{product.productPrice | currency}}</td>
        <td *ngIf='product.productQuantity>=100' [style.color]='C1'>{{product.productQuantity}}</td>
        <td *ngIf='product.productQuantity<100' [style.color]='C2'>{{product.productQuantity}}</td>
      </tr>


    </tbody>
  </table>
</div>